.appbar1 {
  background-color:black !important; 
}

.userName {
  color: white !important;
}

.ul-sin-puntos {
  list-style-type: none;
  padding-left: 0;
  margin: 0px;
}

.caja-padre {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.contenedor-cajas {
  display: flex;
  flex: 1;
  overflow: hidden;
}



.buscador-usuario .MuiOutlinedInput-root {
  border-radius: 0;
}

.buscador-usuario{
  background-color: #60d4ea;
}
.caja-superior{
  padding: 13px;
  background-color: #60d4ea;
}


.caja-buscador-lista {
  flex: 1;
  overflow-y: auto; 
  background-color: red;
}
.cajaja-contenedora-3{
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
} 
.caja-chat {
  flex: 3;
  overflow-y: auto;
}
.caja-input-buton{
  display: flex;
  background-color: #60d4ea;
  padding: 13px;
}
#filled-basic{
  color: rgb(0, 0, 0) !important;
border-bottom: #000000 solid 2px !important;
height: 11px;

}


.message-sender {
  text-align: right;
  background-color: green;
}

/* Estilos para mensajes recibidos */
.message-received {
  text-align: left;
  background-color: blue;
}
.usuario-seleccionado{
  background-color:#60d4ea;
  color: #000000;
  border: 0;
  box-sizing: content-box; 
  height: 56px;
  min-width: 0;
  width: 100%;
  display: flex;
justify-content: space-between;
align-items: center;
}