
.appbar1 {
  background-color: black !important; 
}
.userName{
  color: white !important;
}
.ul-sin-puntos {
  list-style-type: none;
  padding-left: 0;
  margin: 0px;
 }
 .caja-padre{
  height: 100vh;
 }
 .buscador-usuario .MuiOutlinedInput-root {
  border-radius: 0;

 }
 