@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.appbar1 {
  background-color:#10100F !important; 
}

.userName {
  color: white !important;
}

.ul-sin-puntos {
  list-style-type: none;
  padding-left: 0;
  margin: 0px;
}

.caja-padre {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; 
  background-color: #222;
  
}

.contenedor-cajas {
  display: flex;
  flex: 1;
  overflow: hidden;

}



.caja-superior {
  background-color: #88C2CE;
height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Agrega un efecto de hover clarito */
  transition: background-color 0.3s ease; /* Suaviza el cambio de color */
 }
 
 .caja-superior:hover {
  background-color: #80e8f5; /* Ajusta este valor para el color clarito deseado */
 }
 

.caja-buscador-lista {
  flex: 1;
  height: 100%;
  color: #ffffff;
  background-color: #222;
  border-right: 1px solid #171717;

}

.caja-contenedor-3{
  display: flex;
  flex-direction: column;
  flex: 2;
  max-height: 100%;
}

.caja-contenedor-3.mostrar {
  display: block; /* Muestra el contenedor de la conversación cuando hay un usuario seleccionado */
 }

@media (min-width: 641px) {
  .caja-buscador-lista {
     display: block; /* Muestra el contenedor de la lista */
  }
 
  .caja-contenedor-3 {
     display: none; /* Oculta el contenedor de la conversación */
  }
 }



.caja-chat {
flex: 3;
overflow-y: auto;
background-color: #222;
padding-right: 20px;
padding-left:20px ;
padding-top: 4px;
height: 100%;
padding-bottom: 10px;

 }

 
 .message-sender-container,
.message-received-container {
 display: flex;
 justify-content: flex-end; /* Alinea el contenido a la derecha para los mensajes enviados */
 
}

.message-received-container {
 justify-content: flex-start; /* Alinea el contenido a la izquierda para los mensajes recibidos */
}

 .message-sender {
  text-align: left;
  padding: 6px;
  background-color: #80e8f5;
  border-radius: 10px;
color: #000000;
 }
 
 .message-received {
  text-align: left;
  background-color:#10100F ;
  padding: 6px;
  border-radius: 10px;
  color: #ffffff;
 }
 .timestamp{
  font-size: 10px;
  display: block;
 text-align: right;
 }

.caja-input-buton{
  display: flex;
padding: 3px;
background-color: #88C2CE;

}


.message-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #222;
  color: #fff;

}


.usuario-seleccionado{
  background-color:#88C2CE;
  color: #000000;
  border: 0;
  box-sizing: content-box; 
  height: 56px;
  min-width: 0;
  width: 100%;
  display: flex;
justify-content: space-between;
align-items: center;
}
@media (min-width: 641px) {
  .usuario-seleccionado{
     height: 56px;
  }
 }
 @media (max-width: 641px) {
  .usuario-seleccionado{
     height: 56px;
  }
 }